@charset "utf-8";
/* CSS Document */
html {
  font-size: 20px;
}
body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}
ul,
li {
  color: #333;
}
a {
  color: #ff6366;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  width: 100%;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #252831;
  color: #ccc;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 25px 0;
  margin:0 0 -60px 0;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  padding: 20px 0;
  background-color: #252831;
  text-align: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb-nav {
  padding: 0;
  text-align: left;
  background:none;
}

#breadcrumb{
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  margin: 0;
  width: calc(50% - 80px);  
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: '/\00a0';
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0061b4;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Add a color on mouse-over */
#breadcrumb li a[aria-current] {
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
#map img{
  width: 100%;
  height:100%;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #3397db;
  text-align: center;
  padding: 1rem 1rem;
}
.filter-options h2 {
  color: white;
  font-weight: normal;
}
.filter-options select {
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid #fff;
  height: 35px;
  letter-spacing: 0;
  margin: 10px 10px 10px 0;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  box-shadow: rgb(220, 220, 220) 0px 2px 20px;  
  border: 1px solid #e4e4e4;
  margin: 10px;
  min-height: 380px;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc((100% / 3) - 64px);
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #d1494c;
  font-weight: 200;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0 0 10px 0;
}
#restaurants-list li a {
  background-color: #bc3437;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: flex;
  margin-top:auto;
  padding: 8px 30px 10px;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li > a:hover , 
#restaurants-list li > a:focus {
  background: #d24144;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 89%;
  position: fixed;
  right: 0;
  top: 100px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #d1494c;
  font-weight: 200;
  letter-spacing: 0;
  margin: 2rem 0 1.6rem;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 2rem;
}
.restaurant-img {
  width: 100%;
}
#restaurant-address {
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 40px;
  width: calc(50% - 79px);
}
#reviews-container {
  padding: 40px 40px;
}
#reviews-container h3 {
  color: #d1494c;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 2px);
  border-radius: 20px 0 20px 0;
  box-shadow: rgb(220, 220, 220) 0px 2px 20px;
}

#reviews-list li p {
  margin: 20px 20px 20px 20px;
}

#restaurant-hours td {
  color: #666;
}

.review-top {
  width: 100%;
  background: #343434;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  padding: 20px;
}

.review-top time {
  display: inline-block;
  text-align: right;
  color: #fff;
  width: calc(50%);
  color: rgb(201, 201, 201);
  text-shadow: #111 2px 2px 10px;
}

.review-name {
  display: inline-block;
  width: calc(50% - 40px);
  color: #fff;
  font-size: 1.5rem;
  text-shadow: #111 1px 1px 2px;
}

.review-rating {
  color: #fff;
  background: #bc3437;
  padding: 5px 10px 5px 10px;
  margin: 20px 20px 0 20px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  letter-spacing: 0.1rem;
}

#page-error{
  font-size: 2rem;
  text-align: center;
  padding: 50px 0;
}

#offline-notice{
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  background: #252831;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  z-index: 10;
  color: #eee;
  margin: 0 10px;
}

#offline-notice button{
  background: none;
  border: 0;
  color: red;
  font-size: 1rem;
  position: absolute;
  right: 10px;
}

@media screen and (max-width: 980px) {
  #restaurants-list li {
    width: calc((100% / 2) - 65px);
  }
}

@media screen and (max-width: 960px) {
  #restaurant-name {
    margin: .5rem 0 1.5rem;
  }

  .inside header {
    position: unset;
  }
  .inside #breadcrumb {
    padding: 12px 25px 12px;
    width: calc(100% - 50px);
  }

  .inside #map-container {
    height: 270px;
    position: unset;
    width: 100%;
  }
  #restaurant-container,
  #reviews-container {
    padding: 25px;
    width: 100%;
  }
  #restaurant-cuisine {
    width: 100%;
  }
  #restaurant-img {
    width: 100%;
  }
  .inside #footer {
    width: calc(100% - 50px);
    padding: 25px;
  }
}

@media screen and (max-width: 650px) {
  nav h1 a {
    font-size: 1rem;
    letter-spacing: 5px;
  }
  #restaurants-list li {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {

  html{
    font-size: 16px;
  }
  
  .filter-options select {
    width: 100%;
  }
}

@media screen and (min-width: 1441px){
  #restaurants-list li {
    width: calc((100% / 4) - 64px);
  }
}

@media screen and (min-width: 2000px){
  #restaurants-list li {
    width: calc((100% / 5) - 64px);
  }
}
